# Solar API
LLM_MODEL= 
SOLAR_BASE_URL= 
UPSTAGE_API_KEY= up_rIAzUy5fRVe60zb3MOneIANZB9bAV

# Tavily Search API (https://tavily.com)
TAVILY_API_KEY=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
